*{
    /* for full size of screen */
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container{
    background-color:#b0c4de;
    min-height: 100vh;
    border:10px solid #1d1e4c;

}

.content{
    max-width: 960px;
    margin:0 auto;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.top_section{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
   font-size: 50px;
   font-weight: bold;
   color: #1d1e4c;
   text-transform: uppercase;
}
.top_section h4{
    font-size:20px;
    text-align: end;
}

.image_container,img{
    width:300px;
    height:310px;
}
.about_section{
    margin-top: 50px ;
}
.about_section h2{
    font-size: 40px;
    font_weight:400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.3px;
    text-align: justify;
}
.biography_section{
    margin:60px 0;
}
.biography_section h3{
    margin-bottom: 20px;
    font-size: 21px;
}
.biography_section ul{
    margin-left: 50px;
}
.biography_section li{
    margin-bottom: 11px;
}
footer {
    margin:40px 0;
}
footer p{
    font-size: 17px;
    text-align: end;
}
@media (max-width: 420px){
    .top_section h1 {
        font-size: 20px;
        font-weight: bold;
        color: #1d1e4c;
        text-transform: uppercase;
    }
    .top_section {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }
    .container {
        background-color: #b0c4de;
        min-height: 50vh;
        border: 10px solid #1d1e4c;
    }
}